Repository kubernetes-sigs/cluster-api-provider-gcp, pull requests merged in 2021-02, with the labels that each got.

#300 Add support for preemptible instances
  api/v1alpha3/gcpmachine_types.go
  cloud/services/compute/instances.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
Labels: approved, cncf-cla: yes, lgtm, ok-to-test, size/S

#342 Support additionalMetadata on an instance
  api/v1alpha3/gcpmachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/services/compute/instances.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, release-note, size/M

#349 Make AdditionalMetadata Key field required
  api/v1alpha3/gcpmachine_types.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
Labels: approved, cncf-cla: yes, kind/api-change, kind/bug, lgtm, release-note-none, size/XS

#351 Remove inactive members from OWNERS_ALIASES
  OWNERS_ALIASES
Labels: approved, cncf-cla: yes, kind/cleanup, lgtm, release-note-none, size/XS

#344 [gcpmachine]: Support additional drives.
  api/v1alpha3/gcpmachine_types.go
  api/v1alpha3/zz_generated.deepcopy.go
  cloud/services/compute/instances.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
Labels: approved, cncf-cla: yes, kind/api-change, kind/feature, lgtm, ok-to-test, release-note, size/L
