Repository kubernetes-sigs/cluster-api-provider-gcp, pull requests merged in 2023-10, with the labels that each got.

#1018 update k8s version for testing and go to 1.20.8
  Dockerfile
  Makefile
  Tiltfile
  docs/book/src/developers/cluster-creation.md
  scripts/ci-conformance.sh
  scripts/ci-e2e.sh
  test/e2e/config/gcp-ci.yaml
  test/e2e/conformance_test.go
  test/e2e/data/ccm/gce-cloud-controller-manager.yaml
  test/e2e/data/cni/calico/calico.yaml
  test/e2e/data/infrastructure-gcp/cluster-template-prow-ci-version.yaml
  test/e2e/suite_test.go
Labels: kind/feature, release-note, cncf-cla: yes, size/XL, approved, lgtm, kind/failing-test

#1054 [release-1.4] Update CAPI to 1.4.8 and other dependencies
  Dockerfile
  Makefile
  Tiltfile
  go.mod
  go.sum
  test/e2e/config/gcp-ci.yaml
Labels: kind/feature, release-note, cncf-cla: yes, size/L, approved, lgtm, kind/cleanup

#1056 update metadata file to add the 1.5 releases
  metadata.yaml
  test/e2e/config/gcp-ci.yaml
Labels: release-note, cncf-cla: yes, size/XS, approved, lgtm, kind/cleanup

#1008 feat: support adding ResourceManagerTags to GCP resources
  api/v1alpha3/zz_generated.conversion.go
  api/v1alpha4/gcpcluster_conversion.go
  api/v1alpha4/gcpclustertemplate_conversion.go
  api/v1alpha4/gcpmachine_conversion.go
  api/v1alpha4/gcpmachinetemplate_conversion.go
  api/v1alpha4/zz_generated.conversion.go
  api/v1beta1/gcpcluster_types.go
  api/v1beta1/gcpmachine_types.go
  api/v1beta1/tags.go
  api/v1beta1/zz_generated.deepcopy.go
  cloud/interfaces.go
  cloud/scope/clients.go
  cloud/scope/cluster.go
  cloud/scope/machine.go
  cloud/scope/managedcluster.go
  cloud/scope/managedcontrolplane.go
  cloud/services/compute/instances/reconcile_test.go
  cloud/services/container/clusters/reconcile.go
  cloud/services/shared/tags.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmanagedclusters.yaml
  exp/api/v1beta1/gcpmanagedcluster_types.go
  exp/api/v1beta1/zz_generated.deepcopy.go
  exp/controllers/suite_test.go
  go.mod
  go.sum
Labels: release-note, cncf-cla: yes, size/XL, approved, lgtm, ok-to-test
