Repository kubernetes-sigs/cluster-api-provider-gcp, pull requests merged in 2024-07, with the labels that each got.

#1262 feat: Add ability to specify MTU when creating Network
  api/v1beta1/gcpcluster_webhook.go
  api/v1beta1/gcpcluster_webhook_test.go
  api/v1beta1/types.go
  cloud/scope/cluster.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmanagedclusters.yaml
Labels: kind/feature, release-note, cncf-cla: yes, size/L, approved, lgtm, ok-to-test

#1277 Use SetLabels() to set ForwardingRules labels
  cloud/services/compute/loadbalancers/reconcile.go
  cloud/services/compute/loadbalancers/service.go
Labels: kind/bug, release-note-none, cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1280 add sharedvpc support for lb subnet
  cloud/services/compute/loadbalancers/reconcile_test.go
  cloud/services/compute/loadbalancers/service.go
Labels: release-note-none, cncf-cla: yes, size/M, approved, lgtm, ok-to-test

#1294 fix: improve compareMasterAuthorizedNetworksConfig
  cloud/services/container/clusters/reconcile.go
Labels: kind/bug, release-note, cncf-cla: yes, size/XS, approved, lgtm, ok-to-test
