Repository kubernetes-sigs/cluster-api-provider-gcp, pull requests merged in 2025-05, with the labels that each got.

#1470 fix: capi-e2e test flavor reference
  test/e2e/capi_test.go
Labels: release-note-none, cncf-cla: yes, size/XS, approved, lgtm, kind/failing-test

#1480 Secondary ranges for GCPManagedControlPlane
  cloud/services/container/clusters/reconcile.go
Labels: kind/feature, release-note, cncf-cla: yes, size/XS, approved, lgtm, ok-to-test

#1459 Bump CAPI to v1.10.2
  Makefile
  api/v1beta1/gcpcluster_webhook.go
  api/v1beta1/gcpcluster_webhook_test.go
  api/v1beta1/gcpclustertemplate_webhook.go
  api/v1beta1/gcpclustertemplate_webhook_test.go
  api/v1beta1/gcpmachine_webhook.go
  api/v1beta1/gcpmachine_webhook_test.go
  api/v1beta1/gcpmachinetemplate_webhook.go
  api/v1beta1/gcpmachinetemplate_webhook_test.go
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpclustertemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachines.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmachinetemplates.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmanagedclusters.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmanagedcontrolplanes.yaml
  config/crd/bases/infrastructure.cluster.x-k8s.io_gcpmanagedmachinepools.yaml
  exp/api/v1beta1/gcpmanagedcluster_webhook.go
  exp/api/v1beta1/gcpmanagedcluster_webhook_test.go
  exp/api/v1beta1/gcpmanagedcontrolplane_webhook.go
  exp/api/v1beta1/gcpmanagedcontrolplane_webhook_test.go
  exp/api/v1beta1/gcpmanagedmachinepool_webhook.go
  exp/api/v1beta1/gcpmanagedmachinepool_webhook_test.go
  go.mod
  go.sum
  hack/tools/go.mod
  hack/tools/go.sum
  metadata.yaml
  test/e2e/common.go
  test/e2e/config/gcp-ci.yaml
  test/e2e/conformance_test.go
  test/e2e/data/shared/v1beta1/metadata.yaml
  test/e2e/e2e_gke_test.go
  test/e2e/e2e_test.go
  test/e2e/suite_test.go
Labels: release-note-none, size/XXL, cncf-cla: yes, approved, lgtm, ok-to-test
